html
    head
        title
            block title
        block scripts
        block styles
    body
        div.header
            block header
        div.main
            block default
        div.footer
            block footer
